<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Offcanvas navbar</a>
    <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Example single danger button -->
    <div class="navbar-collapse offcanvas-collapse">
      <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        練習模式
      </button>
      <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="http://3.112.188.122:8080/AllWords">所有詞彙</a></li>
          <li><a class="dropdown-item" href="http://3.112.188.122:8080/FrontBack">平假名-片假名</a></li>
          <li><a class="dropdown-item" href="http://3.112.188.122:8080/FrontChinese">中文-平假名</a></li>
          <li><a class="dropdown-item" href="http://3.112.188.122:8080/BackChinese">中文-片假名</a></li>
      </ul>
      <span>&nbsp&nbsp</span>
      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      測驗模式
      </button>
      <ul class="dropdown-menu">          
          <li><a class="dropdown-item" href="http://3.112.188.122:8080/FrontBack">平假名-片假名</a></li>
          <li><a class="dropdown-item" href="http://3.112.188.122:8080/FrontChinese">中文-平假名</a></li>
          <li><a class="dropdown-item" href="http://3.112.188.122:8080/BackChinese">中文-片假名</a></li>
      </ul>
    </div>

  </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>